/* cursor */
.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--black);
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: width 0.2s ease, height 0.2s ease; 
}
.cursor-hover {
  width: 45px;
  height: 45px;
  backdrop-filter: invert(1);
  mix-blend-mode: exclusion;
  border: 1px solid var(--black);
}
.cursor-footer {
  background-color: var(--white);;
  mix-blend-mode: normal;
}

/* about */
body{
  background-color: var(--white);
}
.about-page {
  display: grid;
  grid-template-columns: 760px 1fr;
  height: 100vh;
  overflow-y: auto;
}
.left-fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 760px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--about);
}
/* .left-fixed h2{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-style: italic;
  font-size: 3rem;
  font-weight: 300;
  opacity: .2;
  color: var(--white);
} */
.right-scroll {
  height: 200vh;
  scroll-behavior: smooth;
  overflow-y: auto;
  padding: 0 100px;
}
.about-container{
  margin-top: 60px;
}
.about-container h2{
  font-weight: 400;
  position: relative;
  margin-bottom: 90px;
}
.about-container h2::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #A0A0A0;
  top: 140%;
  left: 0;
}
.about-box h6{
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -1px;
}
.about-box p{
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -1px;
}
.about-box p span{
  font-size: 1rem;
  word-spacing: -2px;
}
.about-box{
  margin-bottom: 20px;
}
.about-item{
  width: 57%;
  position: relative;
}
.about-item1::before{
  content: '';
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../assets/images/about-back.svg) no-repeat center;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.education{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.education .about-container{
  margin-top: 160px;
}
.about01{
  width: 45%;
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
  transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.about01.hover{
  transform: translate(-50%, -50%) rotate(180deg);
}
.about02{
  width: 32%;
  position: absolute;
  bottom: -6%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 0.4s ease-in-out;
}
.about02:hover {
  animation: flipAndBack 0.6s ease-in-out;
}
@keyframes flipAndBack {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(0.6);
  }
  100% {
    transform: translateY(-50%)scale(1); 
  }
}
#page1{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100vh;
}
.experience{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.experience .about-container{
  width: 45%;
  margin-top: 40px;
}
.about-item2{
  position: relative;
  width: 50%;
  height: 400px;
  overflow: hidden;
}
.about03{
  width: 60%;
  height: auto;
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translate(0, -50%);
  transition: transform .6s ease;
}
.about-item2:hover .about03 {
  animation: moveAndRotate 1.5s ease forwards;
}
@keyframes moveAndRotate {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(-40%, -50%);
  }
  100% {
    transform: translate(-40%, -50%) rotate(60deg);
  }
}

/* page2 */
#page2{
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.about-me{
  width: 100%;
  height: 75%;
  position: relative;
}
.about-item3{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
.about-item3 img{
  position: absolute;
}
.aboutme-text{
  width: 38%;
  position: absolute;
  left: 0;
  top: 0;
}
.about04{
  width: 30%;
  right: 22%;
  margin-top: 130px;
  opacity: .5;
  transform: scaleX(-1) translate(0, 0);
  transition: transform 0.8s ease;
}
.about-item3:hover .about04 {
  transform: scaleX(-1) translate(50%, -25%);
}
.profile2{
  width: 34%;
  right: 0;
  z-index: -1;
}
.certification{
  position: absolute;
  bottom: 10%;
}
.certification .about-box{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
/* modal */
.modal{
  position: absolute;
  top: -7%;
  left: 54%;
  transform: translateX(-50%);
  width: 50%;
  height: 0;
  background-color: #ffffff90;
  backdrop-filter: blur(8px);
  border-radius: 500px 500px 0 0;
  border: 1px solid var(--gray);
  box-shadow: 0 0 10px #00000025;
  padding: 0 55px;
  overflow: hidden;
  opacity: 0;
  transform-origin: top center;
  transition: height .8s ease, opacity .5s ease;
}
.modal.show{
  height: 670px;
  opacity: 1;
  visibility: visible;
  padding: 40px 55px 70px;
}
.modal h4 {
  margin: 85px 0 40px;
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.modal h4 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}
.modal.show h4 span:nth-child(1) {
  transition-delay: 0.5s;
}
.modal.show h4 span:nth-child(2) {
  transition-delay: 0.7s;
}
.modal.show h4 span:nth-child(3) {
  transition-delay: 0.9s;
}
.modal.show h4 span {
  opacity: 1;
  transform: translateY(0);
}
.modal p{
  font-size: 1.1rem;
  font-weight: 300;
}
.modal .modal-close{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  cursor: pointer;
}
.circle-button {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  overflow: hidden;
}
.hidden{
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}
.circle-button img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.circle {
  animation: rotate-circle 10s linear infinite;
}
.circle-arrow {
  z-index: 10;
  width: 80%;
  height: auto;
  transform: scale(0.4);
}
.circle-button:hover .circle{
  animation: rotate-circle 8s linear infinite;
}
.circle-button:hover .circle-arrow {
  transform: scale(0.45);
  transition: transform 0.3s ease;
}
@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* page */
.page {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-sizing: border-box;
}
.horizontal-scroll {
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  transition: transform 0.8s ease-in-out;
  overflow-y: auto;
}

/* #page3 */
#page3 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.skills-section {
  width: 100%;
  height: auto;
}
.slide-title {
  margin-top: 60px;
  font-size: 2.8rem;
  text-align: center;
  position: relative;
  width: 100%;
}
.slide-title::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}
.skills-container {
  width: 100%;
  height: 700px;
  overflow: hidden;
  cursor: grab;
  perspective: 1814px;
}
.skills-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease;
}
.skills-card {
  height: 550px;
  width: 20%;
  position: absolute;
  transition: transform 0.4s ease;
  border: 1.5px solid #000;
  border-radius: 500px 500px 0 0;
}
.skills-card a{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.skills-card a img {
  width: 45%;
  height: auto;
  object-fit: contain;
  object-position: center;
  transition: transform 0.3s ease;
}
.skills-card a h2{
  margin: 30px 0 20px;
  font-weight: 500;
}
.skills-card a p{
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
}
.skills-card:hover img {
  transform: scale(1.1);
}
/* card-style */
.skills-card-left-4 {
  transform: translateX(-550%);
  opacity: 0;
}
.skills-card-left-3 {
  transform: translateX(-450%);
  opacity: 0;
}
.skills-card-left-2 {
  transform: translateX(-350%);
  z-index: 1;
  opacity: 0;
}
.skills-card-left-1 {
  transform: translateX(-230%);
  z-index: 1;
  opacity: 0.3;
}
.skills-card-left {
  transform: translateX(-115%);
  z-index: 2;
  opacity: 0.6;
}
.skills-card-center {
  transform: translateX(0);
  z-index: 3;
}
.skills-card-right {
  transform: translateX(115%);
  z-index: 2;
  opacity: 0.6;
}
.skills-card-right-1 {
  transform: translateX(230%);
  z-index: 1;
  opacity: 0.3;
}
.skills-card-right-2 {
  transform: translateX(350%);
  z-index: 1;
  opacity: 0;
}
.skills-card-right-3 {
  transform: translateX(450%);
  opacity: 0;
}
.skills-card-right-4 {
  transform: translateX(550%);
  opacity: 0;
}
.tag {
  width: 300px;
  height: 85px;
  background: #414141;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 85px;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1000;
}

/* skills progress */
.skills-progress {
  width: 80%;
  height: 20px;
  background-color: var(--gray);
  border-radius: 50px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  z-index: -1;
  display: none;
}
.skills-progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--dimblack);
  border-radius: 50px;
  transition: width 1.5s ease;
}
.skills-progress-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: var(--black);
  font-weight: 300;
}

/* footer */
.footer-include {
  transform: translateY(100vh);
  transition: transform 0.8s ease;
  position: relative;
  bottom: 0;
  left: 0;
}
.footer-include.visible {
  transform: translateY(0);  /* 푸터 보이기 */
}