/* cursor */
.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--black);
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: width 0.2s ease, height 0.2s ease; 
}
.cursor-hover {
  width: 45px;
  height: 45px;
  backdrop-filter: invert(1);
  mix-blend-mode: exclusion;
  border: 1px solid var(--black);
}
.cursor-footer {
  background-color: var(--white);
  mix-blend-mode: normal;
}

/* main */
.main{
  overflow: hidden;
}
.prologue-container{
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 400vw;
  height: 100vh;
  transition: transform .5s ease-in-out;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}
.slide{
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prologue-container.show{
  opacity: 1;
  transform: translateY(0);
}

/* slide1 loading */
.slide-from,
.slide-to {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}
.slide1-content p {
  opacity: 0;
  transition: opacity 1s ease;
}
/* 등장 상태 */
.prologue-container.show {
  opacity: 1;
  transform: translateY(0);
}
.slide-from.show,
.slide-to.show {
  opacity: 1;
  transform: translateY(0);
}
.slide1-content p.fade-in {
  opacity: 1;
}

/* slide1 */
#slide1{
  position: relative;
}
#model-container{
  position: absolute;
  width: 35%;
  height: 100%;
  left: 13%;
  top: 50%;
  transform: translateY(-50%);
}
#slide1 h1 {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
#slide1 h1 span{
  display: block;
}
#slide1 .slide-from{
  -webkit-text-stroke: 2px var(--white);
  color: transparent;
  top: 35%;
  left: 52%;
}
#slide1 .slide-to{
  color: var(--white);
  top: 46%;
  left: 61%;
  font-weight: 500;
}
.slide1-content{
  position: absolute;
  top: 62%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.slide1-content p{
  font-size: 1.15rem;
  line-height: 1.3;
  margin: 10px 0;
}
.slide1-content:nth-child(2){
  top: 70%;
  font-weight: 300;
}
.slide1-content .drag{
  position: absolute;
  left: -40%;
  top: 120%;
  font-family: 'neodgm';
  color: #D3D3D3;
  font-size: 2rem;
  padding-left: 35px;
  word-spacing: -10px;
}
.slide1-content .drag::before {
  content: '';
  position: absolute;
  background: url('../assets/images/drag-icon-gray.svg') no-repeat center;
  width: 26px;
  height: 30px;
  top: 35%;
  left: 0;
  background-size: cover;
  transform: translateY(-50%);
  transition: background 0.3s ease;
}
.drag.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#model-container:hover + .slide1-content .drag {
  opacity: 1;
  transform: translateY(0);
}

/* slide2 */
#slide2{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myself{
  text-align: center;
  font-size: 1.5rem;
}
.myself-container{
  width: 75%;
  margin: 20px auto 40px;
}
.myself-container a{
  display: block;
  width: 100%;
  position: relative;
}
.myself-container img{
  width: 100%;
}
.fixed-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.floating-image{
  z-index: 2;
  transition: transform .2s ease-out;
}
.myself-desc{
  font-size: 1.2rem;
  font-family: 'Pretendard-Regular';
  font-weight: 300;
}
.myself-desc em{
  font-weight: 400;
  font-style: normal;
}
#slide2 .myself,
#slide2 .myself-desc {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}
#slide2 .myself.animate,
#slide2 .myself-desc.animate {
  opacity: 1;
  transform: translateY(0);
}

/* background color 전환 */
body.change-background {
  background-color: var(--white);
  transition: background-color 1s ease;
}
body.default-background {
  background-color: var(--background);
  transition: background-color 1s ease;
}

/* slide3 */
#slide3{
  position: relative;
  overflow: hidden;
}
#slide3 span{
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  font-style: italic;
}
#slide3 span.left{
  position: absolute;
  left: 45%;
  transform: translateX(-50%);
  transition: transform 0.7s ease;
}
#slide3 span.right{
  position: absolute;
  right: 45%;
  transform: translateX(50%);
  transition: transform 0.7s ease;
}

/* #slide4 */
#slide4 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.preview-section {
  width: 100%;
  height: auto;
}
.slide-title {
  margin-top: 60px;
  font-size: 2.8rem;
  text-align: center;
  position: relative;
  width: 100%;
}
.slide-title::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}
.preview-container {
  width: 100vw;
  height: 600px;
  position: relative;
  perspective: 3000px; 
  overflow: hidden;
}
.preview-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(180deg); 
  transition: transform 1.5s ease-in-out;
  left: 50%;
  transform-origin: center;
  translate: -50% 0;
}
.preview-card {
  width: 680px;
  height: 680px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 22deg)) translateZ(-2000px) translateX(-50%);
  background-color: var(--card);
  border-radius: 20px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.preview-card[data-hide="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.preview-card a{
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.preview-card a img {
  width: 70%;
  height: auto;
  object-fit: contain;
  object-position: center;
  transition: opacity .3s ease-in;
  opacity: .9;
}
.preview-card:nth-child(5) a img{
  width: 50%;
}
.preview-card:hover img {
  opacity: 0;
}
.preview-card:hover a::before {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.preview-card:nth-child(1):hover a::before {
  background-image: url('../assets/images/project1.jpg');
}
.preview-card:nth-child(2):hover a::before {
  background-image: url('../assets/images/project2-2.JPG');
}
.preview-card:nth-child(3):hover a::before {
  background-image: url('../assets/images/project3.jpg');
}
.preview-card:nth-child(4):hover a::before {
  background-image: url('../assets/images/project4-1.JPG');
}
.preview-card:nth-child(5):hover a::before {
  background-image: url('../assets/images/project5.jpg');
}
.preview-card:nth-child(6):hover a::before {
  background-image: url('../assets/images/design/2024/202403.jpg');
}


.tag {
  padding: 5px 50px;
  white-space: nowrap;
  background: #353535d0;
  border: 2px solid #e9e9e88f;
  border-radius: 50px;
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 85px;
  position: absolute;
  pointer-events: none;
  transform: rotate(-20deg);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 50;
}

/* footer */
.footer-include{
  transform: translateY(100%);
  transition: transform .8s ease;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer-include.visible{
  transform: translateY(0);
}